<div class="cover">
    <div class="container">
        <div class="row" style="padding-top: 5%;">
            <div class="col-md-12">
                <p>FIND AN EVENT IN YOUR CITY</p>
                <input type="text" g-places-autocomplete ng-model="city" placeholder="Hey you party animal, what city are you looking for?" class="search-events">
                <md-button class="startManagingButton forSearch" ng-click="redirect('/events')">search events</md-button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row" ng-if="managers.data.length>0">
        <div class="col-md-12">
            <p class="stock-title">newest <span style="color: #FF6700;">managers</span></p>
        </div>
    </div>
    <div class="row rowManagers" ng-if="managers.data.length>0">
        <div class="col-md-4 userProfile" ng-repeat="user in managers.data">
            <div style="float:left;">
                <img ng-src="{{managers.formatAvatarImage(user._id)}}" alt="" class="userProfileAvatarOverride"
                     ng-click="managers.viewProfile(user._id)"
                     style="outline: none;"/>
            </div>
            <div class="userInfoHome">
                <p class="name" ng-click="managers.viewProfile(user._id)">{{user.Name}}</p>
                <p class="name" ng-click="managers.viewProfile(user._id)">{{user.Surname}}</p>
                <p><a href="mailto:{{user.Email}}" style="color: #FF6700;">{{user.Email}}</a></p>
            </div>
        </div>
    </div>
    <div class="row" ng-if="events.data.length>0">
        <div class="col-md-12">
            <p class="stock-title">popular <span style="color: #FF6700;">events</span></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 containerMarginTop" ng-repeat="ev in events.data" ng-if="events.total>0">
            <div class="event">
                <img ng-src="{{events.formatEventImageURL(ev.Manager, ev._id, ev.Image)}}" ng-click="redirect('/event/' + ev._id)"/>
                <p class="title" ng-click="redirect('/event/' + ev._id)">{{ev.Title}}</p>
                <p class="by" ng-click="redirect('/user/' + ev.Manager_info._id)">by {{ev.Manager_info.Name + ' ' + ev.Manager_info.Surname}}</p>
                <div class="details">
                    <p class="glyphicon glyphicon-time" style="float: left;"></p>
                    <span class="hint--top" data-hint="Date of the event">{{events.formatDateFormat(ev.Date)}}</span>
                </div>
                <div class="details">
                    <p class="glyphicon glyphicon-eur" style="float: left;"></p>
                    <span class="hint--top" data-hint="Salary for chosen artist">{{ev.Salary}}</span>
                    <p ng-if="user.Logged" ng-click="events.markAsFavorite(ev)"
                       class="favoriteThis {{ev.Favorited ? 'glyphicon glyphicon-heart' : 'glyphicon glyphicon-heart-empty'}}"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-if="events.data.length > 0 && events.total > events.offset">
        <div class="col-md-12 showMorePadding">
            <center><md-button class="startManagingButton"
                               ng-click="redirect('/events')">see all events</md-button></center>
        </div>
    </div>
</div>
