<div class="cover">
    <div class="container">
        <div class="row" style="padding-top: 5%;">
            <div class="col-md-12">
                <p>FIND AN EVENT IN YOUR CITY</p>
                <input type="text" placeholder="Hey you party animal, what city are you looking for?" class="search-events">
                <md-button class="startManagingButton forSearch">search events</md-button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row" ng-if="managers.data.length>0">
        <div class="col-md-12">
            <p class="stock-title">newest <span style="color: #FF6700;">managers</span></p>
        </div>
    </div>
    <div class="row rowManagers" ng-if="managers.data.length>0">
        <div class="col-md-4 userProfile" ng-repeat="user in managers.data">
            <div style="float:left;">
                <img ng-src="{{managers.formatAvatarImage(user._id)}}" alt="" class="userProfileAvatarOverride"
                     ng-click="managers.viewProfile(user._id)"
                     style="outline: none;"/>
            </div>
            <div class="userInfoHome">
                <p class="name" ng-click="managers.viewProfile(user._id)">{{user.Name}}</p>
                <p class="name" ng-click="managers.viewProfile(user._id)">{{user.Surname}}</p>
                <p><a href="mailto:{{user.Email}}" style="color: #FF6700;">{{user.Email}}</a></p>
            </div>
        </div>
    </div>
</div>
