<div class="container containerMarginTop" style="background-color: whitesmoke;">
    <div class="row" ng-if="user.Manager">
        <div class="col-md-12 marginTopEvent">
            <md-button class="createEvent widerButton" ng-click="redirect('/create-event')">create event</md-button>
        </div>
    </div>
    <div class="row" ng-if="user.Manager">
        <div class="col-md-12 lineMargin">
            <hr>
        </div>
    </div>
    <div class="row containerMarginTop">
        <div class="col-md-1 col-md-offset-4">
            <p class="eventCategories {{events.filter == 0 ? 'eventSelected' : ''}}" ng-click="events.filter=0;events.getData();">Active</p>
        </div>
        <div class="col-md-1" ng-if="user.Manager">
            <p class="eventCategories {{events.filter == 1 ? 'eventSelected' : ''}}" ng-click="events.filter=1;events.getData();">Your</p>
        </div>
        <div class="col-md-1">
            <p class="eventCategories {{events.filter == 2 ? 'eventSelected' : ''}}" ng-click="events.filter=2;">Popular</p>
        </div>
        <div class="col-md-1">
            <input ng-model="events.keyword" class="eventSearchByKeyword" placeholder="Show by keyword" ng-enter="events.filter=3;events.getData()"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 containerMarginTop" ng-repeat="ev in events.data" ng-if="events.total>0">
            <div class="event">
                <img ng-src="{{events.formatEventImageURL(ev.Manager, ev._id, ev.Image)}}"/>
                <p class="title">{{ev.Title}}</p>
                <p class="by" ng-click="redirect('/user/' + ev.Manager_info._id)">by {{ev.Manager_info.Name + ' ' + ev.Manager_info.Surname}}</p>
                <div class="details">
                    <p class="glyphicon glyphicon-time" style="float: left;"></p>
                    <span class="hint--top" data-hint="Date of the event">{{events.formatDateFormat(ev.Date)}}</span>
                </div>
                <div class="details">
                    <p class="glyphicon glyphicon-eur" style="float: left;"></p>
                    <span class="hint--top" data-hint="Salary for chosen artist">{{ev.Salary}}</span>
                    <p ng-if="user.Logged" ng-click="event.markAsFavorite(ev)"
                       class="favoriteThis {{ev.Favorited ? 'glyphicon glyphicon-heart' : 'glyphicon glyphicon-heart-empty'}}"></p>
                </div>
            </div>
        </div>
        <div class="col-md-12 containerMarginTop" ng-if="events.total==0">
            <p class="stock-title">No events found</p>
        </div>
    </div>
    <div class="row" ng-if="events.total > events.limit">
        <div class="col-md-12 showMorePadding">
            <center><md-button class="startManagingButton"
                               ng-click="events.offset=events.offset+events.limit;events.getData()">show more</md-button></center>
        </div>
    </div>
</div>