<div class="container containerMarginTop" style="background-color: whitesmoke;">
    <div class="eventDetailsRight">
        <div class="row" ng-if="event.data.Artist_type">
            <div class="col-md-12">
                <p class="description">
                    <span style="float: left;">Looking for: </span>
                    <span style="float: right;color: #00A877;">{{event.data.Artist_type}}</span>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="description">
                    <span style="float: left;">price for chosen artist: </span>
                    <span class="glyphicon glyphicon-eur" style="float: right;margin-top: 4px;color: #00A877;"></span>
                    <span style="float: right;color: #00A877;">{{event.data.Salary}}</span>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="description">
                    <span style="float: left;">state: </span>
                    <span style="float: right;color: {{event.data.State === 'active' ? '#00A877' : '#FF6700'}};">{{event.data.State}}</span>
                </p>
            </div>
        </div>
        <div class="row" style="margin-top: 20px;" ng-if="user && user.Artist && !event.data.Artist">
            <div class="col-md-12">
                <md-button class="loginButton md-raised" ng-click="event.applyForEvent()">apply as artist</md-button>
            </div>
        </div>
        <hr/>
        <div class="row" ng-if="event.aplicants.length > 0 && event.data.Artist">
            <div class="col-md-12 chosenArtist">
                <p class="title">Chosen artist for this event</p>
            </div>
        </div>
        <div class="row chosenArtist" ng-if="event.aplicants.length > 0 && event.data.Artist">
            <div class="col-md-4">
                <img ng-click="redirect('/user/' + event.aplicants[0]._id)" ng-src="{{event.formatUserAvatar(event.aplicants[0]._id)}}" class="userProfileAvatarOverride"/>
            </div>
            <div class="col-md-8">
                <p class="name" ng-click="redirect('/user/' + event.aplicants[0]._id)">{{event.aplicants[0].Name + ' ' + event.aplicants[0].Surname}}</p>
                <a href="mailto:{{event.aplicants[0].Email}}" class="email">{{event.aplicants[0].Email}}</a>
                <p class="about" ng-if="event.aplicants[0].About">{{event.aplicants[0].About}}</p>
            </div>
        </div>
        <hr ng-if="event.data.State === 'finished'"/>
        <div class="row" ng-if="event.data.State === 'finished'">
            <div class="col-md-12">
                <p style="text-align: center;font-weight: bold;">Pay entry fee to confirm the event</p>
            </div>
        </div>
        <div class="row" ng-if="event.data.State === 'finished'">
            <div class="col-md-12">
                <img src="../app/content/images/creditCards.jpg" style="width: 100%;" />
            </div>
        </div>
        <div class="row" ng-if="event.aplicants.length > 0 && !event.data.Artist">
            <div class="col-md-12">
                <p>Candidates for artsts</p>
            </div>
        </div>
        <div class="row" ng-if="event.aplicants.length > 0 && !event.data.Artist" ng-repeat="aplicant in event.aplicants">
            <div class="col-md-12 aplicant">
                <md-button class="createEvent choose" ng-if="user && user.User_id == event.data.Manager"
                           ng-click="event.chooseArtist(aplicant._id, aplicant.Name + ' ' + aplicant.Surname)">choose</md-button>
                <img ng-src="{{event.formatUserAvatar(aplicant._id)}}" class="avatar" />
                <p ng-click="redirect('/user/' + aplicant._id)">{{aplicant.Name + ' ' + aplicant.Surname}}</p>
            </div>
        </div>
    </div>
    <div class="eventDetails">
        <div class="row">
            <div class="col-md-12">
                <p class="borderBottom title">{{event.data.Title}}</p>
                <div>
                    <p style="float: left;">by: <span ng-click="redirect('/user/' + event.data.Manager_info._id)"
                                                      class="managerName">{{event.data.Manager_info.Name + ' ' + event.data.Manager_info.Surname}}</span></p>
                    <p style="float: right;">{{event.formatDate()}}</p>
                </div>
            </div>
        </div>
        <div class="row " ng-if="event.loaded">
            <div class="col-md-12">
                <img ng-src="{{event.image}}"/>
            </div>
        </div>
    </div>
    <div class="eventDetails">
        <div class="row">
            <div class="col-md-12">
                <p class="description">{{event.data.Description}}</p>
            </div>
        </div>
    </div>
</div>

