<div class="container containerMarginTop" style="background-color: whitesmoke;">
    <div class="eventDetailsRight">
        <div class="row" ng-if="event.data.Artist_type">
            <div class="col-md-12">
                <p class="description">
                    <span style="float: left;">Looking for: </span>
                    <span style="float: right;color: #00A877;">{{event.data.Artist_type}}</span>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="description">
                    <span style="float: left;">price for chosen artist: </span>
                    <span class="glyphicon glyphicon-eur" style="float: right;margin-top: 4px;color: #00A877;"></span>
                    <span style="float: right;color: #00A877;">{{event.data.Salary}}</span>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="description">
                    <span style="float: left;">state: </span>
                    <span style="float: right;color: {{event.data.State === 'active' ? '#00A877' : '#FF6700'}};">{{event.data.State}}</span>
                </p>
            </div>
        </div>
        <div class="row" style="margin-top: 20px;" ng-if="user && user.Artist">
            <div class="col-md-12">
                <md-button class="loginButton md-raised" ng-click="event.applyForEvent()">apply as artist</md-button>
            </div>
        </div>
    </div>
    <div class="eventDetails">
        <div class="row">
            <div class="col-md-12">
                <p class="borderBottom title">{{event.data.Title}}</p>
                <div>
                    <p style="float: left;">by: <span ng-click="redirect('/user/' + event.data.Manager_info._id)"
                                                      class="managerName">{{event.data.Manager_info.Name + ' ' + event.data.Manager_info.Surname}}</span></p>
                    <p style="float: right;">{{event.formatDate()}}</p>
                </div>
            </div>
        </div>
        <div class="row " ng-if="event.loaded">
            <div class="col-md-12">
                <img ng-src="{{event.image}}"/>
            </div>
        </div>
    </div>
    <div class="eventDetails">
        <div class="row">
            <div class="col-md-12">
                <p class="description">{{event.data.Description}}</p>
            </div>
        </div>
    </div>
</div>

